:root {
  --very-dark-grayish-blue: hsl(217, 19%, 35%);
  --desaturated-dark-blue: hsl(214, 17%, 51%);
  --grayish-blue: hsl(212, 23%, 69%);
  --light-grayish-blue: hsl(210, 46%, 95%);
}
body {
  background-color: var(--light-grayish-blue);
}

.card {
  background-color: white;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1);
}

.row-card {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  max-width: 50%;
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 500px;
}

.row-card img {
  width: auto;
  height: auto;
  max-width: 300px;
  max-height: 250px;
  margin: 0;
}

.row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  max-width: 100%;
}

.column {
  display: flex;
  flex-direction: column;
  flex-basis: 100%;
  flex: 1;
}

.column-5 {
  display: flex;
  flex-direction: column;
  flex-basis: 100%;
  flex: 5;
}

.column-2 {
  display: flex;
  flex-direction: column;
  flex-basis: 100%;
  flex: 2;
}

.title {
  font-weight: 700;
  font-family: "Manrope", sans-serif;
  font-size: 18px;
  color: var(--very-dark-grayish-blue);
  margin: 18px 0px 9px 0px;
}

.caption {
  font-weight: 500;
  font-family: "Manrope", sans-serif;
  font-size: 12px;
  color: var(--desaturated-dark-blue);
  margin: 5px 0px 12px 0px;

}

.name {
  max-width: 100%;
  color: var(--very-dark-grayish-blue);
  font-weight: 700;
  font-size: 14px;
  font-family: "Manrope", sans-serif;
}

.avatar img {
  border-radius: 40px;
  width: auto;
  height: auto;
  max-width: 36px;
  max-height: 36px;
}

.date {
  font-size: 9px;
  font-weight: 500;
  font-family: "Manrope", sans-serif;
  color: var(--desaturated-dark-blue); /* Desaturated Dark Blue */
}

.share-button {
  position: relative;
  align-items: center;
  justify-content: center;
}

.share-button img {
  background-color: var(--light-grayish-blue);
  border-radius: 40px;
  width: 18px;
  height: 18px;
  padding: 5px;
}

.share-button:hover img {
  background-color: var(--very-dark-grayish-blue);
  border-radius: 40px;
  width: 18px;
  height: 18px;
  padding: 5px;
}

/* Tooltip text content */
.share-button .share-tooltip-content {
  visibility: hidden;
  width: fit-content;
  background-color: var(--very-dark-grayish-blue);
  color: #fff;
  text-align: center;
  justify-content: space-around;
  padding: 10px;
  border-radius: 6px;

  /* Position the tooltip text */
  /* position: absolute;
  z-index: 1;
  bottom: 52%; */

   /* Position the tooltip */
   position: absolute;
   z-index: 1;
   bottom: 100%;
   left: 50%;
   margin-left: -70px;
}

.share-button:hover .share-tooltip-content {
  visibility: visible;
}


@media (max-width: 600px) {
  .card {
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1);
  }

  .container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 500px;
  }

  .row-card {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    max-width: 100%;
  }

  .row-card img {
    width: auto;
    height: auto;
    max-width: 320px;
    max-height: 200px;
    margin: 0;
  }

  .row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    max-width: 100%;
  }

  .column {
    display: flex;
    flex-direction: column;
    flex-basis: 100%;
    flex: 1;
  }

  .mobile-content {
    padding: 10px 20px;
  }

  .title {
    font-weight: 700;
    font-family: "Manrope", sans-serif;
    font-size: 16px;
    color: var(--very-dark-grayish-blue);
    margin: 18px 0px 0px 0px;
  }

  .name {
    max-width: 100%;
    color: var(--very-dark-grayish-blue);
    font-weight: 700;
    font-size: 12px;
    font-family: "Manrope", sans-serif;
  }

  .avatar img {
    border-radius: 40px;
    width: auto;
    height: auto;
    max-width: 20px;
    max-height: 20px;
  }

  .date {
    font-size: 9px;
    font-weight: 500;
    font-family: "Manrope", sans-serif;
    color: var(--desaturated-dark-blue);
  }

  .share-button {
    align-items: center;
    justify-content: center;
  }

  .share-button img {
    background-color: var(--light-grayish-blue);
    border-radius: 40px;
    width: 18px;
    height: 18px;
    padding: 5px;
  }
}
